@import url("https://use.typekit.net/fbh6wfi.css");

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url(../img/popcorn.png);
  background-repeat: repeat;
  background-size: 150px 150px;
}
.movie-card {
  margin: 20px 0;
}
.card-content p {
  margin: 0;
}
.card-image img {
  height: 300px;
  object-fit: cover;
}
.container {
  max-width: 1200px;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

h1 {
  font-family: "impetus", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
}

h3 {
  font-family: "impetus", sans-serif;
  font-weight: 400;
  font-style: normal;
}
span {
  color: #febb12;
}

.logo {
  width: 100px;
  height: 100px;
}

.brand-logo {
  font-family: "impetus", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
}
.brand-logo img {
  width: 50px;
  padding: 1rem 0rem 0rem 1rem;
  margin-left: 1rem;
}

nav.nav-extended .nav-wrapper {
  min-height: 86px;
}

.sec1 {
  width: 100%;
  height: 60vh;
  background-image: url(../img/banner.svg);
  background-position: center;
  background-size: cover;
  padding: 1rem;
  margin: 0;
}

.sec1 div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

form {
  padding: 4rem 0rem !important;
}

.footerLogo {
  width: 80px !important;
}

.card .card-image img {
  height: 100%;
}

#movies-container,
#favorites-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal-image img {
  max-width: 100%;
}

.offline-notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff9800;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field input[type="password"]:focus + label {
  color: #ffc107 !important;
}
/* label underline focus color */
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus {
  border-bottom: 1px solid #ffc107 !important;
  box-shadow: 0 1px 0 0 #ffc107 !important;
}

.cargando {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Estilos para vista tablet */
@media (min-width: 768px) and (max-width: 1200px) {
  .container.z-depth-5{
      width: 100%;
  }
  .sec1{
    height: 40vh;
  }
  h1{
    font-size: 5rem;
  }
  .nav-content{
    display: none;
  }
  nav .brand-logo {
    left: 25%;
  }
  .brand-logo{
    font-size: 3rem;
  }
}

/* Estilos para vista movil */
@media (max-width: 767px) {

  .container.z-depth-5{
    width: 100%;
}
.sec1{
  height: 28vh;
}
h1{
  font-size: 2rem;
}
.nav-content{
  display: none;
}
nav .brand-logo {
  left: 50%;
  font-size: 1rem;
}
.brand-logo{
  font-size: 3rem;
}

nav.nav-extended .nav-wrapper {
  min-height: 140px;
}
.logo {
  width: 34px;
  height: 30px;
}

}
