<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMDb API Movies</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
<!-- NAV -->

    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="../img/logocine.png" alt="logo de peliculas"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="iniciarSesion.html">Iniciar Sesion</a></li>
                <li><a href="registrarse.html">Registrarse</a></li>    
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="../index.html" > Inicio </a></li>
                <li class="tab"><a class="active" href="catalogo.html" >Catálogo</a></li>
                <li class="tab"><a href="contacto.html" >Contacto</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="iniciarSesion.html">Iniciar Sesion</a></li>
        <li><a href="registrarse.html">Registrarse</a></li> 
    </ul>
<!-- NAV -->

<!-- CARDS -->

<div class="container">
    <h1 class="center-align">PELICULAS PA!</h1>
    <div id="movies-container" class="row"></div>
</div>

<!-- CARDS -->

<!-- MODAL -->

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<!-- MODAL -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/scripts.js"></script>
</body>

</html>