<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMDb API Movies</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="manifest" href="../manifest.json">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/main_db.js" type="module"></script>
</head>

<body>
    <!-- NAV -->

    <nav class="nav-extended black">
        <div class="nav-wrapper">
            <a href="/index.html" class="brand-logo"><img src="../img/logo.svg" alt="logo de peliculas">
                MUNDO<span>CINE</span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="logged-out"><a class="amber-text" href="iniciarSesion.html">Iniciar Sesion</a></li>
                <li class="logged-out"><a class="amber-text" href="registrarse.html">Registrarse</a></li>
                <li class="logged-in"><a id="logout" class="amber-text" href="#">Cerrar Sesion</a></li>
                <li><a class="waves-effect amber waves-light btn" onclick="installApp()">
                    <i class="material-icons left" id="install-button"
                    style="display: none;">file_download</i>Instalar</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="../index.html"> Inicio </a></li>
                <li class="tab"><a href="catalogo.html">Catálogo</a></li>
                <li class="tab"><a class="active amber-text" href="contacto.html">Contacto</a></li>
                <li class="tab"><a href="favoritos.html">Favoritos <span id="favorites-badge" class="badge amber" data-badge-caption="">0</span></a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="iniciarSesion.html">Iniciar Sesion</a></li>
        <li><a href="registrarse.html">Registrarse</a></li>
    </ul>
    <!-- NAV -->

    <div class="container section white z-depth-5">

        <div class="container">
            <h1 class="center-align">Contactanos!</h1>
            <h4>Dejanos tu mensaje</h4>

            <div class="row">
                <form class="col s12" method="post" action="procesar.php">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Nombre" id="primerNombre" type="text" name="primerNombre" class="validate">
                            <label for="primerNombre">Nombre: </label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Apellido" id="apellido" type="text" name="apellido" class="validate">
                            <label for="apellido">Apellido: </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="nombre@correo.com" id="email" type="email" name="email" class="validate">
                            <label for="email">Email: </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea placeholder="Hola!! me gustan las peliculas!" id="Mensaje" name="Mensaje" class="materialize-textarea"></textarea>
                            <label for="Mensaje">Dinos alguna peli para agregar: </label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light amber" type="submit" name="action">Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>

        </div>
    </div>

    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l2 s12">
                    <a href="#" class="brand-logo"><img class="footerLogo" src="../img/logo.svg"
                            alt="logo de peliculas"></a>
                </div>
                <div class="col l6 s12">
                    <h5 class="white-text">Mundo Cine</h5>

                    <p class="grey-text text-lighten-4">Podes contactarnos para solicitar las peliculas que quieras
                        agregar al catálogo</p>
                    <a class="waves-effect amber waves-light btn" href="contacto.html">Contacto</a>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Menu</h5>
                    <ul>
                        <li><a class="active amber-text" href="../index.html"> Inicio </a></li>
                        <li><a class="amber-text" href="catalogo.html">Catálogo</a></li>
                        <li><a class="amber-text" href="contacto.html">Contacto</a></li>
                        <li><a class="amber-text" href="favoritos.html">Favoritos</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2024 Copyright - Davinci
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/scripts.js"></script>
    <script src="../js/contacto.js"></script>
    <script>
        let deferredPrompt;

        window.addEventListener('beforeinstallprompt', (e) => {
            e.preventDefault();
            deferredPrompt = e;
            document.getElementById('install-button').style.display = 'block';
        });

        function installApp() {
            if (deferredPrompt) {
                deferredPrompt.prompt();
                deferredPrompt.userChoice.then((choiceResult) => {
                    if (choiceResult.outcome === 'accepted') {
                        console.log('ususario acepto la instalacion');
                        document.getElementById('install-button').style.display = 'none';
                    }
                    deferredPrompt = null;
                });
            }
        }

    </script>
</body>

</html>