<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMDb API Movies</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/fbh6wfi.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/main_db.js" type="module"></script>
</head>

<body class="grey lighten-5">
    <section class="container white valign-wrapper" style="height: 100vh;">
        <div class="row" style=" width: 350px; margin: auto;">
            <div class="col s12 cargando">
                <div class="preloader-wrapper big active" id="preloader" style="display: none;">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../img/logo.svg" alt="logo de peliculas" class="col s12" id="login-logo" style="height: 50px; display: block;">
            <h2 class="col s12 center-align" style="font-weight: 600;">Iniciar Sesion</h2>
            <form class="col s12" id="signInForm">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="login-email" type="email" class="validate" name="email" autocomplete="email"
                            required>
                        <label for="login-email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="login-password" type="password" class="validate" name="password"
                            autocomplete="current-password" required>
                        <label for="login-password">Contraseña</label>
                    </div>

                    <a class="col s12 center-align amber-text" href="registrarse.html">Registrarse</a>
                    <button class="btn amber waves-effect waves-light col s12" type="submit" name="action"
                        style="margin-top:1rem;">Iniciar Sesion</button>

                </div>
            </form>
        </div>
    </section>


</body>


</html>