<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMDb API Movies</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/fbh6wfi.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="manifest" href="/manifest.json">
    <script src="../js/main_db.js" type="module"></script>
</head>

<body class="grey lighten-5">
    <section class="container  valign-wrapper" style="height: 100vh;">
        <div class="row" style=" width: 350px; margin: auto;">
            <img src="../img/logo.svg" alt="logo de peliculas" class="col s12" style="height: 50px;">
            <h2 class="col s12 center-align" style="font-weight: 600;">Iniciar Sesion</h2>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" type="text" class="validate" name="username" autocomplete="username" required>
                        <label for="username">Ususario</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="password" type="password" class="validate" name="password" autocomplete="current-password" required>
                        <label for="password">Contraseña</label>
                    </div>

                    <a class="col s12 center-align amber-text" href="registrarse.html">Registrarse</a>
                    <button class="btn amber waves-effect waves-light col s12" type="submit" name="action"
                        style="margin-top:1rem;">Iniciar Sesion</button>

                </div>
            </form>
        </div>
    </section>


</body>


</html>