<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMDb API Movies</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/fbh6wfi.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/main_db.js" type="module"></script>
</head>

<body class="grey lighten-5">
    <section class="container white z-depth-5 valign-wrapper" style="height: 100vh;">
        <div class="row" style=" width: 350px; margin: auto;" id="registro">
            <img src="../img/logo.svg" alt="logo de peliculas" class="col s12" style="height: 50px;">
            <h2 class="col s12 center-align" style="font-weight: 600;">Registrarse</h2>
            <form class="col s12" id="signUpForm">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="signup-email" type="email" class="validate" name="email" autocomplete="email" required>
                        <label for="signup-email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="signup-password" type="password" class="validate" name="password" autocomplete="new-password" required>
                        <label for="signup-password">Contraseña</label>
                    </div>
                    
                    <a class="col s12 center-align amber-text" href="iniciarSesion.html">Iniciar Sesion</a>
                    <button class="btn amber waves-effect waves-light col s12" type="submit" name="action" style="margin-top:1rem;">Registrarse</button>
                </div>
            </form>
            <div id="successMessage" class="card-panel" style="display:none;">
                <span class="green-text text-darken-2 center-align">Usuario registrado correctamente</span>
                <br>
                <a class="btn amber waves-effect waves-light" href="iniciarSesion.html">Iniciar Sesión</a>
            </div>
        </div>


    </section>

    


</body>


</html>